{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Equipamentos{% endblock %}</h1>

    {% if g.user %}
        <a class="action" href="{{ url_for('equipamento.create') }}">
            Novo Equipamento
        </a>
    {% endif %}
{% endblock %}

{% block content %}

    {% for equipamento in equipamentos %}

        <article class="post">

            <header>

                <div>

                    <h1>{{ equipamento["nome"] }}</h1>

                    <div class="about">

                        Categoria: {{ equipamento["categoria"] }} |
                        Fabricante: {{ equipamento["fabricante"] }} |
                        Patrimônio: {{ equipamento["patrimonio"] }} |
                        Localização: {{ equipamento["localizacao"] }} |
                        Status: {{ equipamento["status"] }}

                    </div>

                    <div class="about">
                        Cadastrado por {{ equipamento["username"] }}
                    </div>

                </div>

                {% if g.user["id"] == equipamento["usuario_id"] %}

                    <a class="action"
                       href="{{ url_for('equipamento.update', id=equipamento['id']) }}">
                        Editar
                    </a>

                {% endif %}

            </header>

        </article>

        {% if not loop.last %}
            <hr>
        {% endif %}

    {% endfor %}

{% endblock %}